
[Ll]ibrary/*
[Tt]emp/*
[Bb]uild/*

*.pidb
*.userprefs

![Ll]ibrary/*.asset
![Ll]ibrary/AssetImportState
![Ll]ibrary/AssetVersioning.db
![Ll]ibrary/BuildPlayer.prefs
![Ll]ibrary/ScriptMapper
![Ll]ibrary/assetservercachev3
![Ll]ibrary/expandedItems
![Ll]ibrary/guidmapper
![Ll]ibrary/unity default resources
![Ll]ibrary/unity editor resources
![Ll]ibrary/metadata/